*{
  margin: 0;
  padding: 0;
}

hmtl, body {
  background-color: aquamarine;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.estilos-logo {
  width: 100px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
  border: solid 2px white;
  margin: 5px;
  }

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.estilos-imagen {
  width: 500px;
  height: 550px;
  border: solid 5px white;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}